@import '../../Index_sass/sass/index.scss';

.col, [class*="col-"]  {
    text-align: center;
}

.btn {
    width: 100%;
}

hr {
    width: 40%;
    display:inline-block;
}

.order-md-12 {
    background-color: rgba(53, 50, 50, 0.575);
}

// ----- Dashboard Page
.hero {
    background-color: $c-theme;
    color: $c-white;
}