@import '../../Index_sass/sass/index.scss';

.col, [class*="col-"]  {
    text-align: center;
}

.btn-primary {
    width: 100%;
}

hr {
    width: 40%;
    display:inline-block;
}

.order-md-12 {
    background-color: rgba(53, 50, 50, 0.575);
}

// ----- Signin & Signup Pages
#signinPage, #signupPage {
    text-align: center;
    .form-side {
        padding: 15%;
        .wrapper {
            width: 100%;
            max-width: 400px;
            .or {
                margin: 1em 0;
                &::before, &::after {
                    display: inline-block;
                    content: "";
                    border-top: thin solid black;
                    width: 25%;
                    margin: 0 1rem;
                    transform: translateY(-6px)
                }
            }
            .signup-link {
                color: $c-theme;
            }
        }
    }
    .welcome-side {
        padding: 15%;
        // background-color: $c-theme;
        background: $c-theme url("/img/hero.jpg") no-repeat fixed center / cover;
        @media (min-width: $mq-medium) {
            background: $c-theme url("/img/hero-large.jpg") no-repeat fixed center / cover;
        }
        .logo {
            width: 100%;
            max-width: 80px;
        }
        .logo-name {
            font-size: 4em;
            letter-spacing: 12px;
        }
        .tagline {
            margin-bottom: 4em;
        }
    }
    @media (min-width: $mq-mediumSmall) {
        @include flexbox;
        height: 100vh;
        .form-side, .welcome-side {
            @include flexbox;
            @include justify-content(center);
            @include align-items(center);
            padding: 5%;
            width: 50%;
        }
    }
}

// ----- Dashboard & Categories Page
#dashboardPage, #categoriesPage {
    .hero {
        // background-color: $c-theme;
        background: $c-theme url("/img/hero.jpg") no-repeat fixed center / cover;
        @media (min-width: $mq-medium) {
            background: $c-theme url("/img/hero-large.jpg") no-repeat fixed center / cover;
        }
        margin-top: 82px;
        .wrapper {
            color: $c-white;
            text-align: center;
            .welcome {
                margin-bottom: 1em;
            }
            p {
                color: $c-white;
            }
            @media (min-width: $mq-medium) {
                text-align: left;
                @include flexbox;
                @include align-items(center);
                @include justify-content(space-between);
                .welcome {
                    margin: 0 5% 0 0;
                }
            }
        }
    }
    .sticky-inner {
        padding: 0;
        margin: 0 0 5% 0;
        // width: 100%;
        text-align: center;
        .item {
            &:hover {
                color: $c-theme;
                cursor: pointer;
            }
        }
    }
    .trending {
        padding: 0;
        width: 100%;
        margin-top: 10%;
    }
    @media (min-width: $mq-small) {
        .categories {
            // width: 30%;
            padding: 0;
            margin: 2.5em 5% 0 0;
            text-align: left;
        }
        .trending {
            width: 100;
            margin-left: 270px;
            margin-top: -50px;
        }
    }
}

// ----- Account Page
#accountPage {
    .info {
        margin-top: 62px;
        background-color: $c-white;
        padding: 5% 0;
        @include box-shadow;
        .container {
            width: 90%;
            .row {
                @include align-items(center);
                .user-image {
                    margin-bottom: 10%;
                    padding-bottom: 10%;
                    border-bottom: thin solid $c-black;
                    width: 100%;
                    text-align: center;
                    @media (min-width: $mq-small) {
                        width: 40%;
                        margin: 0 10% 0 0;
                        padding: 0 10% 0 0;
                        border-bottom: 0;
                        border-right: thin solid $c-black;
                    }
                    .profile-picture {
                        height: 200px;
                        width: 200px;
                        margin: auto;
                        background-position: center;
                        background-size: cover;
                        border-radius: 50%;
                        background-color: $c-black;
                    }
                }
            }
            .user-info {
                width: 100%;
                max-width: 400px;
                margin: auto;
            }
        }
    }
    .yourPosts {
        padding: 5% 0;
        width: 90%;
        .add-post {
            width: 100%;
            margin-bottom: 5%;
            margin-top: 5%;
            padding: 0 0 5% 0;
            .card .card-body {
                @include flexbox;
                @include align-items(center);
                @include flex-direction(column);
            }
        }
        .posts {
            width: 100%;
        }
        @media (min-width: $mq-small) {
            .add-post {
                width: 25%;
                margin: 2.5em 5% 0 0;
            }
            .posts {
                width: 70%;
            }
        }
    }
}

#categoriesPage {
    .categories-container {
        text-align: center;
        @media (min-width: $mq-small) {
            @include flexbox;
            @include flex-wrap(wrap);
            .category-boxes {
                width: 50%;
                transition: .4s all;
                &:hover {
                    color: $c-theme;
                    cursor: pointer;
                }
                .card {
                    .card-body {
                        padding: 2em 0;
                    }
                }
            }
        }
        @media (min-width: $mq-medium) {
            .category-boxes {
                width: 33.333%;
            } 
        }
    }
}

.sticky-wrapper {
    // width: 100%;
    text-align: center;
    @media (max-width: $mq-small) {
        width: 100%;
    }
}

.sticky-inner {
    margin-top: 2.5em!important;
}

@media (min-width: $mq-small) {
    .sticky {
        position: fixed;
        top: 0;
      }
    
      .sticky-wrapper {
        position: relative;
        height: 3rem; /* We need to change this value */
      }

      .sticky-inner {
        width: 250px;
      }
      
      .sticky .sticky-inner {
        position: fixed;
        top: 42px;
        // left: 0;
        // right: 0;
        z-index: 1;
      }
}