@import '../../Index_sass/sass/index.scss';

.col, [class*="col-"]  {
    text-align: center;
}

.btn-primary {
    width: 100%;
}

hr {
    width: 40%;
    display:inline-block;
}

.order-md-12 {
    background-color: rgba(53, 50, 50, 0.575);
}

// ----- Dashboard Page
#dashboardPage {
    .hero {
        background-color: $c-theme;
        .wrapper {
            color: $c-white;
            text-align: center;
            .welcome {
                margin-bottom: 1em;
            }
            p {
                color: $c-white;
            }
            @media (min-width: $mq-medium) {
                text-align: left;
                @include flexbox;
                @include align-items(center);
                @include justify-content(space-between);
                .welcome {
                    margin: 0 5% 0 0;
                }
            }
        }
    }
    .categories {
        padding: 0;
        margin: 0 0 5% 0;
        width: 100%;
        text-align: center;
    }
    .trending {
        padding: 0;
        width: 100%;
    }
    @media (min-width: $mq-small) {
        .categories {
            width: 30%;
            padding: 0;
            margin: 0 5% 0 0;
            text-align: left;
        }
        .trending {
            width: 65%;
        }
    }
}
