@import '../../../Index_sass/sass/index.scss';

.card {
    .profile-picture {
        height: 50px;
        width: 50px;
        margin: auto;
        background-position: center;
        background-size: cover;
        border-radius: 50%;
        background-color: $c-black;
    }
    .name-date {
        .username {
            color: $c-theme;
            font-weight: bold;
        }
        .date {
            font-size: .8em;
        }
    }
    .tag {
        color: $c-theme;
        border: thin solid $c-theme;
        border-radius: 20px;
        padding: 1em 2em;
        &:not(:last-child) {
            margin-right: 1em;
        }
    }
}

.post-cards .card {
    &:not(:last-child) {
        margin-bottom: 1em;
    }
}