@import '../../../Index_sass/sass/index.scss';

.card {
    &:not(:last-child) {
        margin-bottom: 1em;
    }
    .post-card {
        img {
            width: 50px;
        }
        .tag {
            color: $c-theme;
            border: thin solid $c-theme;
            border-radius: 20px;
            padding: 1em 2em;
            &:not(:last-child) {
                margin-right: 1em;
            }
        }
    }
}