@import '../../../Index_sass/sass/index.scss';

// ---- View Post Button
.view-modal {
    .modal-content {
        &:not(:last-child) {
            margin-bottom: 1em;
        }
        .modal-header {
            border-bottom: none;
        }
        .modal-body {
            padding-bottom: 0;
        }
        .modal-footer {
            border-top: 0;
        }
        .profile-picture {
            height: 50px;
            width: 50px;
            margin: auto;
            background-position: center;
            background-size: cover;
            border-radius: 50%;
            background-color: $c-black;
        }
    }
}